body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #e07a5f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 40px;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #e07a5f;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 960px;
    margin: auto;
}

.menu-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

a {
    color: #e07a5f;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #c2583d; /* Darker shade on hover */
}

h1, h2, h3 {
    color: #e07a5f;
}

#gallery {
    background-color: #f4f4f4;
    padding: 40px;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-gallery img {
    width: 300px; /* Adjust the width as needed */
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
    transform: scale(1.1);
}
